* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.sr-only {
    display: none;
}
.sr-only:focus {
    display: block;
}

/* Style the header */
.header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    color: #00008B;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #ffffff;
}

/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: #00008B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three columns that floats next to each other sizes can be varied */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 33%;
    color: #00008B;
    text-align: center;
}

/* Middle column */
.column.middle {
    width: 33%;
    color: #00008B;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the footer */
.footer {
    background-color: #dddddd;
    padding: 10px;
    text-align: left;
    color: #00008B;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #00008B;
    font-style:italic;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #9400D3;
}

img {
    width: 100%;
}
